@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #2f855a;
  --color-secondary: #8b5e34;
  --color-accent: #f6c453;

  --color-bg: #f8faf9;
  --color-surface: #ffffff;
  --color-text: #0f172a;
  --color-muted: #64748b;
  --color-border: #e2e8f0;
}

.dark {
  --color-bg: #0b1220;
  --color-surface: #111827;
  --color-text: #e5e7eb;
  --color-muted: #94a3b8;
  --color-border: #243044;
}

* {
  font-family: "Montserrat", sans-serif;
}

@keyframes scrollHorizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll-horizontal {
  animation: scrollHorizontal 35s linear infinite;
  display: flex;
  width: max-content;
}
